{% extends "main_template.html" %}
{% block content %}
<h1>About</h1>
<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dignissim dolor eu elit lobortis, id
        posuere lectus consectetur. Nulla eu lorem quis diam efficitur cursus at non libero. Cras nibh felis, faucibus
        at leo eget, posuere hendrerit eros. Cras odio purus, malesuada blandit leo vel, mattis consequat mi. Nam sed
        gravida diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        Quisque dictum justo mi, quis rutrum enim varius sed. In sed tortor vitae odio maximus mattis quis at diam.
        Maecenas consequat tempor hendrerit. Etiam mattis ex ex, quis tempus nisl porttitor pretium. Nulla eu diam urna.
    </p>
    <div class='container mt-5'>
        <div class='row'>
            <p class='col'>CEO</p>
            <p class='col'>Name Name</p>
        </div>
        <div class='row'>
            <p class='col'>Industry</p>
            <p class='col'>Name</p>
        </div>
        <div class='row'>
            <p class='col'>HQ</p>
            <p class='col'>Place</p>
        </div>
        <div class='row mt-5'>
            <h3 class='col'>Details:</h3>
        </div>
        <div class='row'>
            <p class='col'>Share price</p>
            <p class='col'>$xxx.xx</p>
        </div>
        <div class='row'>
            <p class='col'>Co Value</p>
            <p class='col'>$XX M/B</p>
        </div>
    </div>
</div>
</div>
{% endblock %}