{% extends "main_template.html" %}
{% block content %}

<style>
    div {
        margin: 20px 0px 20px 0px;
    }
</style>

<div class='row'>
    <h3 class='col'>Fundamental Analysi for: Company Name (TKR)</h3>
</div>

<div class='center'>
    <h1 class='row'>Profitibility Ratios:</h1>
</div>

<div class='row'>
    <p class='col'>Gross Margin</p>
    <p class='col'>%</p>
</div>
<div class='row'>
    <p class='col'>Gross profit margin</p>
    <p class='col'>%</p>
</div>
<div class='row'>
    <p class='col'>Return on equity - Dupont (ROE)</p>
    <p class='col'>%</p>
</div>
<div class='row'>
    <p class='col'>Return on assets - Dupont (ROA)</p>
    <p class='col'>%</p>
</div>
<div class='row'>
    <p class='col'>Cash flow return on investment (CFROI)</p>
    <p class='col'>%</p>
</div>

<h1 class='row'>Liquidity Ratios:</h1>
<div class='row'>
    <p class='col'>Current ratio</p>
    <p class='col'>%</p>
</div>
<div class='row'>
    <p class='col'>Acid test</p>
    <p class='col'>%</p>
</div>
<div class='row'>
    <p class='col'>Operating cash flow</p>
    <p class='col'>%</p>
</div>

<h1 class='row'>Debt ratios:</h1>
<div class='row'>
    <p class='col'>Debt Ratio</p>
    <p class='col'>%</p>
</div>
<div class='row'>
    <p class='col'>Debt to equity</p>
    <p class='col'>%</p>
</div>
<div class='row'>
    <p class='col'>Time interest earned ratio</p>
    <p class='col'>%</p>
</div>

<h1 class='row'>Market Ratios:</h1>
<div class='row'>
    <p class='col'>Earnings per share (EPS)</p>
    <p class='col'>%</p>
</div>
<div class='row'>
    <p class='col'>Payout ratio</p>
    <p class='col'>%</p>
</div>
<div class='row'>
    <p class='col'>P/E ratio</p>
    <p class='col'>%</p>
</div>
<div class='row'>
    <p class='col'>Price per cash flow</p>
    <p class='col'>%</p>
</div>
<div class='row'>
    <p class='col'>Price per sales</p>
    <p class='col'>%</p>
</div>
<div class='row'>
    <p class='col'>Price per earnings per growth (PEG)</p>
    <p class='col'>%</p>
</div>
{% endblock %}